<div class="bg-green-200 rounded-xl border border-gray-400">
    <div class="bg-green-200 rounded-xl">
        <!-- <p class="rounded-t-xl text-center py-3" appRedText>Service portal component</p> -->
        <div class="p-5">
            <div>
                <div class="">
                    <P class="text-xl font-semibold">Order Categories Page</P>
                    <p>Simulating programatic navigation</p>
                    <button 
                        class="mt-2 px-8 py-2 rounded-lg cursor-pointer font-semibold text-white bg-linear-65 from-blue-500 to-blue-900 hover:scale-105 transition-all duration-300"
                        (click)="gotoOrders()"
                    >
                        Go To Orders
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
